@import 'src/styles/globalVariables';

* {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

p {
  font-family: sans-serif;
  font-weight: 300;
}

header {
  background-color: $mainDark;
  color: white;
  width: 100%;
  position: relative;
  a {
    color: white;
  }
  h2 {
    display: inline-block;
    margin: 5px 10px;
    font-weight: 400;
    font-style: italic;
  }
}

h1, h2, h3 {
  font-family: 'Montserrat', sans-serif;
}

ul {
  margin: 0;
}

#logoContainer {
  max-width: 100px;
  padding: 1.45rem 20px;
}

.panel {
  background-color: $mainDark;
  position: absolute;
  width: 100%;
  transition: left 0.5s;
  left: 0;
  margin-bottom: 10%;
  p {
    width: 90%;
  }
  &.pushedLeft {
    left: -101%;
  }
  &.pushedRight {
    left: 100%;
  }
  & > *:not(form) {
    margin-left: 5%;
    margin-top: 2%;
  }
}

.Manager {
  background-color: white;
  &.hidden {
    display: none;
  }
  h4 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.1em;
    font-weight: normal;
    margin: 20px 30px;
    display: inline-block;
  }
}

.Member, .FlaggedMember, .Group {
  width: 100%;
  position: relative;
  .infoRow {
    width: 95%;
    display: inline-grid;
    grid-template-columns: repeat(5, 1fr);
  }
  p {
    display: inline-block;
    padding: 5px;
    padding-right: 0;
    border:  1px solid rgba(0, 0, 0, 0.25);
    border-width: 0 1px 0 0 ;
    margin-left: 15px;
    overflow: scroll;

    &:first-of-type {
      font-family: 'Montserrat', sans-serif;
      color: $mainDark;
      display: block;
      margin-left: 40%;
      padding-top: 10px;
      font-weight: normal;
    }

    &:last-of-type {
      border-width: 0;
    }
  }
  &:nth-of-type(odd) {
    background-color: white;
  }
  &:nth-of-type(even) {
    background-color: $superLightGrey;
  }
  &:hover:not(.expanded) {
    background-color: darken($superLightGrey, 10%);
  }
  &.expanded {
    .expandToggle {
      transform: rotate(45deg) translate(-2px, -2px);
    }
  }
}

.FlaggedMember {
  p {
    &:first-of-type {
      margin-left: 30%;
    }
  }
  .flaggedExpandedInfo {
    width: 75%;
    p {
      margin-left: 0;
    }
  }
  .conflictInfo {
    ul {
      margin-left: 5%;
    }
  }
}

// button present across components
.expandToggle {
  position: absolute;
  right: 20px;
  border: none;
  background-color: transparent;
  font-size: 1.5em;
  transition: transform 0.3s;
  padding: 5px 10px 10px;
}

.groupExpandedInfo, .flaggedExpandedInfo {
  width: 80%;
  margin-left: 10%;
  h6 {
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
  }
  .groupMembers {
    width: 100%;
    padding-bottom: 5%;
    list-style-type: none;
    .infoRow {
      grid-template-columns: repeat(3, 1fr) 50px;
    }
    p:first-of-type {
      display: none;
    }
    p {
      font-size: 0.8em;
    }
  }
  .groupMembersHeader, .groupLeadersHeader, .conflictHeader {
    font-weight: normal;
    font-size: 1.4em;
    margin-top: 3%;
  }
}

